.loading_screen {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dddfdc;
  height: 100vh;
  inset: 0;
  z-index: 2;
  opacity: 0.9;
  animation: disappear 200ms;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@media (max-width: 320px) {
  .loading_screen {
    flex-direction: column;
  }
}
.loading_screen p {
  font-family: "Shrikhand", cursive;
  font-size: 40px;
  margin: 0px;
  width: 315px;
  height: 58px;
  opacity: 1;
}
@media (max-width: 320px) {
  .loading_screen p {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
}
.loading_screen .all_balls {
  display: flex;
}
.loading_screen .balls_1,
.loading_screen .balls_2,
.loading_screen .balls_3 {
  height: 29px;
  width: 29px;
  opacity: 1;
  border-radius: 50%;
  margin: 0 10px;
  animation: disappear 1s infinite;
  animation-delay: 3s;
}
@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.loading_screen .balls_1 {
  background-color: #9356DC;
  animation-delay: 0ms;
}
.loading_screen .balls_2 {
  background-color: #FF79DA;
  animation-delay: 200ms;
}
.loading_screen .balls_3 {
  background-color: #99E2D0;
  animation-delay: 400ms;
}

.header {
  position: relative;
}
@media all and (min-width: 480px) and (max-width: 720px) {
  .header {
    padding: 0px 10%;
  }
}
@media all and (min-width: 721px) and (max-width: 1080px) {
  .header {
    padding: 0px 15%;
  }
}
@media all and (min-width: 1081px) and (max-width: 1920px) {
  .header {
    padding: 0px 20%;
  }
}

.iconArrowHeader {
  position: absolute;
  text-decoration: none;
  color: rgb(61, 58, 58);
  font-size: 25px;
  left: 5%;
  height: 100%;
  display: flex;
  align-items: center;
}
@media all and (min-width: 480px) and (max-width: 720px) {
  .iconArrowHeader {
    font-size: 30px;
    left: 10%;
  }
}
@media all and (min-width: 721px) and (max-width: 1080px) {
  .iconArrowHeader {
    font-size: 35px;
    left: 15%;
  }
}
@media all and (min-width: 1081px) and (max-width: 1920px) {
  .iconArrowHeader {
    font-size: 40px;
    left: 20%;
  }
}

.logoHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 60px;
  margin-top: 30px;
}

.tailleLogo {
  max-width: 100%;
}

.titleMenu {
  margin-top: 20px;
  max-width: 100%;
  height: 250px;
  position: relative;
}
@media all and (min-width: 480px) and (max-width: 720px) {
  .titleMenu {
    height: 350px;
  }
}
@media all and (min-width: 721px) and (max-width: 1080px) {
  .titleMenu {
    height: 375px;
  }
}
@media all and (min-width: 1081px) and (max-width: 1920px) {
  .titleMenu {
    height: 400px;
  }
}

.imageMenu {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.titleMenuSmall {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  font-family: "Shrikhand", cursive;
  font-size: 24px;
  position: absolute;
  bottom: 0px;
  min-width: 100%;
  height: 60px;
  border-radius: 25px 25px 0 0;
}
@media all and (min-width: 480px) and (max-width: 720px) {
  .titleMenuSmall {
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 29px;
  }
}
@media all and (min-width: 721px) and (max-width: 1080px) {
  .titleMenuSmall {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 34px;
  }
}
@media all and (min-width: 1081px) and (max-width: 1920px) {
  .titleMenuSmall {
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 39px;
  }
}

.padding-left20 {
  padding-left: 10px;
}
@media all and (min-width: 480px) and (max-width: 720px) {
  .padding-left20 {
    padding: 0px 10%;
  }
}
@media all and (min-width: 721px) and (max-width: 1080px) {
  .padding-left20 {
    padding: 0px 15%;
  }
}
@media all and (min-width: 1081px) and (max-width: 1920px) {
  .padding-left20 {
    padding: 0px 20%;
  }
}

.padding-right30 {
  padding-right: 20px;
}
@media all and (min-width: 480px) and (max-width: 720px) {
  .padding-right30 {
    padding-right: 10%;
  }
}
@media all and (min-width: 721px) and (max-width: 1080px) {
  .padding-right30 {
    padding-right: 15%;
  }
}
@media all and (min-width: 1081px) and (max-width: 1920px) {
  .padding-right30 {
    padding-right: 20%;
  }
}

.menuCarte {
  background-color: #f6f6f6;
}
@media all and (min-width: 480px) and (max-width: 720px) {
  .menuCarte {
    padding: 0px 10%;
  }
}
@media all and (min-width: 721px) and (max-width: 1080px) {
  .menuCarte {
    padding: 0px 15%;
  }
}
@media all and (min-width: 1081px) and (max-width: 1920px) {
  .menuCarte {
    padding: 0px 20%;
  }
}
.menuCarte .menuCarteTitle {
  padding: 0 10px 0 10px;
  font-family: "Roboto", sans-serif;
}
.menuCarte .menuCarteTitle .underline {
  width: 40px;
  border-top: 3px solid #99E2D0;
  margin: 3px 0 15px 0;
  margin: 0px;
}
.menuCarte .carte {
  max-width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  padding: 10px;
}
.menuCarte .carte .carte_container {
  display: flex;
  flex-direction: column;
}
.menuCarte .carte .carte_container .carte_plats {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 2px 2px 5px rgb(149, 145, 145);
  border-radius: 10px;
  position: relative;
  margin-bottom: 20px;
  animation: apparition 1s;
  animation-fill-mode: both;
}
@keyframes apparition {
  0% {
    transform: translateY(70%);
    opacity: 0;
  }
  100% {
    transform: translateY(10%);
    opacity: 1;
  }
}
.menuCarte .carte .carte_container .carte_plats:nth-child(1) {
  animation-delay: 100ms;
}
.menuCarte .carte .carte_container .carte_plats:nth-child(2) {
  animation-delay: 200ms;
}
.menuCarte .carte .carte_container .carte_plats:nth-child(3) {
  animation-delay: 300ms;
}
.menuCarte .carte .carte_container .carte_plats:nth-child(4) {
  animation-delay: 400ms;
}
.menuCarte .carte .carte_container .carte_plats .plats_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 7px 7px 7px;
  width: 100%;
}
.menuCarte .carte .carte_container .carte_plats .plats_description .description {
  min-width: 85%;
}
.menuCarte .carte .carte_container .carte_plats .plats_description .description .description_name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: black;
  margin: 0px;
  max-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media all and (min-width: 480px) and (max-width: 720px) {
  .menuCarte .carte .carte_container .carte_plats .plats_description .description .description_name {
    font-size: 20px;
    max-height: 25px;
  }
}
@media all and (min-width: 721px) and (max-width: 1080px) {
  .menuCarte .carte .carte_container .carte_plats .plats_description .description .description_name {
    font-size: 24px;
    max-height: 30px;
  }
}
@media all and (min-width: 1081px) and (max-width: 1920px) {
  .menuCarte .carte .carte_container .carte_plats .plats_description .description .description_name {
    font-size: 26px;
    max-height: 35px;
  }
}
.menuCarte .carte .carte_container .carte_plats .plats_description .description .description_infos {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 15px;
  color: black;
  margin: 0px;
  max-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media all and (min-width: 480px) and (max-width: 720px) {
  .menuCarte .carte .carte_container .carte_plats .plats_description .description .description_infos {
    font-size: 17px;
    max-height: 25px;
  }
}
@media all and (min-width: 721px) and (max-width: 1080px) {
  .menuCarte .carte .carte_container .carte_plats .plats_description .description .description_infos {
    font-size: 19px;
    max-height: 30px;
  }
}
@media all and (min-width: 1081px) and (max-width: 1920px) {
  .menuCarte .carte .carte_container .carte_plats .plats_description .description .description_infos {
    font-size: 21px;
    max-height: 35px;
  }
}
.menuCarte .carte .carte_container .carte_plats .plats_description .plats_prix {
  min-width: 15%;
  align-self: flex-end;
}
.menuCarte .carte .carte_container .carte_plats .plats_description .plats_prix .prix_note {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin: 0px;
  color: black;
  padding-right: 7px;
}
@media all and (min-width: 480px) and (max-width: 720px) {
  .menuCarte .carte .carte_container .carte_plats .plats_description .plats_prix .prix_note {
    font-size: 17px;
    max-height: 25px;
  }
}
@media all and (min-width: 721px) and (max-width: 1080px) {
  .menuCarte .carte .carte_container .carte_plats .plats_description .plats_prix .prix_note {
    font-size: 19px;
    max-height: 30px;
  }
}
@media all and (min-width: 1081px) and (max-width: 1920px) {
  .menuCarte .carte .carte_container .carte_plats .plats_description .plats_prix .prix_note {
    font-size: 21px;
    max-height: 35px;
  }
}
.menuCarte .carte .carte_container .carte_plats .plats_validation {
  background-color: #99E2D0;
  width: 0%;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.menuCarte .carte .carte_container .carte_plats .plats_validation .validation_check {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #99E2D0;
  background-color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.menuCarte .carte .carte_container .carte_plats:hover {
  cursor: pointer;
}
.menuCarte .carte .carte_container .carte_plats:hover .plats_description {
  width: 80%;
  padding: 7px 0 7px 7px;
}
.menuCarte .carte .carte_container .carte_plats:hover .plats_validation {
  width: 20%;
  visibility: visible;
  transform: scale(1);
  transition: all 450ms;
}
.menuCarte .carte .carte_container .carte_plats:hover .validation_check {
  transform: rotate(360deg);
  transition: all 550ms;
}
.menuCarte .carte .carte_container .carte_plats:hover .plats_prix .prix_note {
  padding-right: 0px;
}

.btn-oder-top {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 10px;
}
.btn-oder-top p {
  margin: 0px;
}
.btn-oder-top .btn-oderMenu {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 300ms;
  box-shadow: 2px 1px 8px -3px black;
}
.btn-oder-top .btn-oderMenu:hover {
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  box-shadow: 2px 2px 10px black;
}
@media all and (min-width: 480px) and (max-width: 720px) {
  .btn-oder-top .btn-oderMenu {
    font-size: 20px;
  }
}
@media all and (min-width: 721px) and (max-width: 1080px) {
  .btn-oder-top .btn-oderMenu {
    font-size: 22px;
  }
}
@media all and (min-width: 1081px) and (max-width: 1920px) {
  .btn-oder-top .btn-oderMenu {
    font-size: 24px;
  }
}

.lignePresentation {
  display: flex;
  width: 100%;
  min-height: 5px;
  background: linear-gradient(180deg, rgb(182, 177, 177), #dddfdc);
}

.presentation {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.titrePresentation {
  display: flex;
  align-items: baseline;
  justify-content: center;
  max-width: 100%;
  background-color: #f6f6f6;
  background-color: #dddfdc;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.marginLogoTitre {
  margin-right: 15px;
}

.presentationLigne1 {
  display: flex;
  align-items: baseline;
  justify-content: center;
  max-width: 100%;
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding: 0 50px;
}

.presentationLigne2 {
  display: flex;
  align-items: baseline;
  justify-content: center;
  max-width: 100%;
  background-color: #f6f6f6;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.presentationLigne3 {
  display: flex;
  align-items: baseline;
  justify-content: center;
  max-width: 100%;
  background-color: #f6f6f6;
}

.btn-presentation {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 300ms;
  box-shadow: 2px 1px 8px -3px black;
}
.btn-presentation:hover {
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  box-shadow: 2px 2px 10px black;
}
@media all and (min-width: 480px) and (max-width: 720px) {
  .btn-presentation {
    font-size: 20px;
  }
}
@media all and (min-width: 721px) and (max-width: 1080px) {
  .btn-presentation {
    font-size: 22px;
  }
}
@media all and (min-width: 1081px) and (max-width: 1920px) {
  .btn-presentation {
    font-size: 24px;
  }
}

.fonctionnement {
  margin: 15px;
}
@media all and (min-width: 480px) and (max-width: 1920px) {
  .fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.titreFonctionnement {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 23px;
}
@media all and (min-width: 480px) and (max-width: 1920px) {
  .titreFonctionnement {
    display: flex;
    justify-content: center;
  }
}

.fonctionnementMenu {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-color: #f6f6f6;
  max-width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  margin-bottom: 20px;
  box-shadow: 2px 1px 8px -3px black;
  position: relative;
  margin: 12px;
}
@media all and (min-width: 480px) and (max-width: 900px) {
  .fonctionnementMenu {
    width: 80%;
    font-size: 18px;
  }
}
@media all and (min-width: 901px) and (max-width: 1920px) {
  .fonctionnementMenu {
    width: 60%;
    font-size: 22px;
  }
}

.nurmerotationFonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  position: absolute;
  left: -12px;
}
@media all and (min-width: 480px) and (max-width: 900px) {
  .nurmerotationFonctionnement {
    height: 30px;
    width: 30px;
  }
}
@media all and (min-width: 901px) and (max-width: 1920px) {
  .nurmerotationFonctionnement {
    height: 35px;
    width: 35px;
  }
}

.logoFonctionnement {
  color: #373438;
  position: absolute;
  left: 30px;
}
@media all and (min-width: 480px) and (max-width: 900px) {
  .logoFonctionnement {
    left: 15%;
    font-size: 25px;
  }
}
@media all and (min-width: 901px) and (max-width: 1920px) {
  .logoFonctionnement {
    left: 20%;
    font-size: 25px;
  }
}

.restaurants {
  background-color: #dddfdc;
  padding: 15px;
}
@media all and (min-width: 480px) and (max-width: 720px) {
  .restaurants {
    padding: 15px 10%;
  }
}
@media all and (min-width: 721px) and (max-width: 1080px) {
  .restaurants {
    padding: 15px 15%;
  }
}
@media all and (min-width: 1081px) and (max-width: 1920px) {
  .restaurants {
    padding: 15px 20%;
  }
}

.titreRestaurants {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
@media all and (min-width: 480px) and (max-width: 720px) {
  .titreRestaurants {
    display: flex;
    justify-content: center;
    font-size: 22px;
  }
}
@media all and (min-width: 721px) and (max-width: 1080px) {
  .titreRestaurants {
    display: flex;
    justify-content: center;
    font-size: 24px;
  }
}
@media all and (min-width: 1081px) and (max-width: 1920px) {
  .titreRestaurants {
    display: flex;
    justify-content: center;
    font-size: 26px;
  }
}

.objectifFit {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

.textColorNone {
  text-decoration: none;
  color: black;
}

.vignetteResto {
  display: flex;
  width: 100%;
  max-height: 250px;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  position: relative;
  box-shadow: 2px 2px 10px rgb(134, 132, 132);
}

.infoVignetteResto {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 15px;
  align-items: center;
}

.love_heart {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 30px;
  width: 30px;
}
@media all and (min-width: 480px) and (max-width: 720px) {
  .love_heart {
    font-size: 30px;
    height: 35px;
    width: 35px;
  }
}
@media all and (min-width: 721px) and (max-width: 1080px) {
  .love_heart {
    font-size: 35px;
    height: 40px;
    width: 40px;
  }
}
@media all and (min-width: 1081px) and (max-width: 1920px) {
  .love_heart {
    font-size: 40px;
    height: 45px;
    width: 45px;
  }
}
.love_heart .heart_one {
  position: absolute;
  cursor: pointer;
}
.love_heart .heart_two {
  visibility: hidden;
  cursor: pointer;
}
.love_heart:hover .heart_one {
  visibility: hidden;
}
.love_heart:hover .heart_two {
  visibility: initial;
  color: #9356DC;
  transition: all 550ms;
  transform: scale(1);
}

.iconRestaurants {
  font-size: 25px;
}

.enca-nouveau {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 30px;
  background-color: #99E2D0;
  font-family: "Roboto", sans-serif;
  color: rgb(49, 97, 49);
  border-radius: 3px;
  position: absolute;
  left: 70%;
  top: 7%;
  padding: 0px 5px 0px 5px;
}
@media all and (min-width: 420px) and (max-width: 520px) {
  .enca-nouveau {
    left: 75%;
  }
}
@media all and (min-width: 521px) and (max-width: 721px) {
  .enca-nouveau {
    left: 75%;
  }
}
@media all and (min-width: 722px) and (max-width: 992px) {
  .enca-nouveau {
    left: 80%;
  }
}
@media all and (min-width: 993px) and (max-width: 1920px) {
  .enca-nouveau {
    left: 85%;
  }
}

.footer {
  background-color: #373438;
  padding: 20px;
}
@media all and (min-width: 480px) and (max-width: 720px) {
  .footer {
    padding: 20px 10%;
  }
}
@media all and (min-width: 721px) and (max-width: 1080px) {
  .footer {
    padding: 20px 15%;
  }
}
@media all and (min-width: 1081px) and (max-width: 1920px) {
  .footer {
    padding: 20px 20%;
  }
}

.colorContactNone {
  text-decoration: none;
  color: white;
}

.policeTitreLogo {
  font-family: "Shrikhand", cursive;
  color: white;
}

.policeTexte {
  font-family: "Roboto", sans-serif;
  color: white;
}

.colorIconFooter {
  color: white;
  margin-right: 10px;
}

.iconFooter {
  display: flex;
  align-items: baseline;
}

html, body {
  margin: auto;
  min-width: 320px;
}

.policeGras700 {
  font-weight: 700;
}

.policeGras500 {
  font-weight: 500;
}

.policeGras100 {
  font-weight: 100;
}

.margine-none {
  margin: 0px;
}

/*# sourceMappingURL=style.css.map */
