.menuCarte {

    background-color: $colorGrisClaire;

    .menuCarteTitle {
        padding: 0 10px 0 10px;
        font-family: $policeTexte;

        .underline {
            width: 40px;
            border-top: 3px solid $colorTertiaire;
            margin: 3px 0 15px 0;
            margin: 0px;
        }
    }

    .carte {
        max-width: 100%;
        height: 100%;
        background-color: $colorGrisClaire;
        padding: 10px;
    
        // La carte du restaurant
    
    
        .carte_container {
    
            display: flex;
            flex-direction: column;
    
            
    
            .carte_plats {
                display: flex;
                justify-content: space-between;
                background-color: $colorBlanc;
                box-shadow: 2px 2px 5px rgb(149, 145, 145);
                border-radius: 10px;
                position: relative;
                margin-bottom: 20px;
                animation: apparition 1s;
                animation-fill-mode: both;
                @keyframes apparition {
                    0%{
                        transform: translateY(70%);
                        opacity: 0;
                    }
                    100% {
                        transform: translateY(1);
                        opacity: 1;
                    }
                    
                }
    
                @for $i from 1 through 3 {
                    &:nth-child(#{$i}) {
                        animation-delay: 100ms * $i;
                    }
                }
    
    
                .plats_description {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 7px 7px 7px 7px;
                    width: 100%;
    
                    .description {
    
                        min-width: 85%;
    
                        .description_name {
                            font-family: $policeTexte;
                            font-weight: 500;
                            font-size: 18px;
                            color: black;
                            margin: 0px;
                            max-height: 20px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: clip ellipsis;
                        }
    
                        .description_infos {
                            font-family: $policeTexte;
                            font-weight: 200;
                            font-size: 15px;
                            color: black;
                            margin: 0px;
                            max-height: 20px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: clip ellipsis;
                        }
                    }
    
    
                    .plats_prix {
                        min-width: 15%;
                        align-self: flex-end;
    
                        .prix_note {
                            display: flex;
                            justify-content: center;
                            font-family: $policeTexte;
                            font-weight: 500;
                            font-size: 15px;
                            margin: 0px;
                            color: black;
                            padding-right: 7px;
                        }
    
                    }
                }
    
                .plats_validation {
                    background-color: $colorTertiaire;
                    width: 0%;
                    border-radius: 0 10px 10px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    visibility: hidden;
    
                    .validation_check {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 18px;
                        color: $colorTertiaire;
                        background-color: $colorBlanc;
                        height: 25px;
                        width: 25px;
                        border-radius: 50%;
                    }
                }
    
                &:hover {
    
                    cursor: pointer;
    
                    .plats_description {
                        width: 80%;
                        padding: 7px 0 7px 7px;
                    }
    
                    .plats_validation {
                        width: 20%;
                        visibility: visible;
                        transform: scale(1);
                        transition: all 450ms;
                    }
    
                    .validation_check {
                        transform: rotate(360deg);
                        transition: all 550ms;
                    }
    
                    .plats_prix {
                        .prix_note {
                            padding-right: 0px;
                        }
                    }
                }
    
    
            }
    
        }
    }
}



.btn-oder-top {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 10px;

    p {
        margin: 0px;
    }

    .btn-oderMenu {
        @include btn-color;
        @include shadow;
    }
}