
// Presentation 

.presentation {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.titrePresentation {
    @include presentation;
    border-top: solid 3px;
    background-color: $colorGrisClaire;
    font-family: $policeTexte;
    font-weight: 400;
}

.marginLogoTitre {
    margin-right: 15px;
}

.presentationLigne1 {
    @include presentation;
    font-family: $policeTexte;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding: 0 50px;
}

.presentationLigne2 {
    @include presentation;
    text-align: center;
    font-family: $policeTexte;
    font-weight: 100;
}

// Bouton

.btn-presentation {
    font-family: $policeTexte;
    font-weight: $policeGras;
    font-size: 15px;
    background-color: $colorPrimaire;
    color: $colorBlanc;
    padding: 10px 20px;
    border-radius: 25px;
}




