
// Presentation 

.lignePresentation {
    display: flex;
    width: 100%;
    min-height: 2px;
    background-color: red
}

.presentation {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.titrePresentation {
    @include presentation;
    background-color: $colorGrisClaire;
    font-family: $policeTexte;
    font-weight: 400;
}

.marginLogoTitre {
    margin-right: 15px;
}

.presentationLigne1 {
    @include presentation;
    font-family: $policeTexte;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding: 0 50px;
}

.presentationLigne2 {
    @include presentation;
    text-align: center;
    font-family: $policeTexte;
    font-weight: 100;
}

.presentationLigne3 {
    @include presentation;
}

// Bouton

.btn-presentation {
    @include btn-color;
    @include shadow;
}




