
.marginboddy {
    margin: 20px;
    background-color: $colorGrisClaire;
}

.check {

    background-color: white;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px blue;
    
    &:hover {

        cursor: pointer;

        .check_btn {
            $width: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $colorTertiaire;
        }


        .check_logo {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $colorTertiaire;
            background-color: $colorBlanc;
            border-radius: 50%;
            height: 25px;
            width: 25px;
            visibility: visible;
        }

    }

        .check_logo {
            visibility: hidden;
        }

        p {
            margin: 0px;
        }

        .check_description {
            border: solid 1px red;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .check_text {
            border: solid 1px red;
        }
    
        .check_prix {
            border: solid 1px red;
            align-self: flex-end;
        }

        


}

