


$colorPrimaire : #9356DC;
$colorSecondaire : #FF79DA;
$colorTertiaire : #99E2D0;



$colorGrisFonce : #373438;
$colorGrisClaire: #dddfdc;
$colorGrisTransparant: #f6f6f6;
$colorBlanc : white;
$colorNoir : black;



$policeTitreLogo : "Shrikhand" , cursive;
$policeTexte : "Roboto", sans-serif;
$policeGras : bold;
